<h4>マイページ</h4>
<strong>登録情報</strong>
<span><%= link_to '編集する', edit_public_customer_path(current_customer) %></span>
<table border="2" style="border-collapse: collapse">
  <thead>
    <tr>
      <th>氏名</th>
      <th><%= @customer.first_name%><%= @customer.last_name %></th>
    </tr>
    <tr>
      <th>カナ</th>
      <th><%= @customer.first_name_kana%><%= @customer.last_name_kana %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.postal_code %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.telephone_number %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
  </thead>
</table>
<div>
  <strong>配送先</strong>
  <apan><%= link_to '一覧を見る', public_addresses_path(current_customer) %></span>
</div>
<div>
  <strong>注文履歴</strong>
  <span><%= link_to '一覧を見る', public_orders_path(current_customer), method: :get %></span>
</div>
