<div class = "container">
  <div class = "row">
    <div class = "col-lg-2" >
      <div>
        <h6>ジャンル検索</h6>
      </div>
      <div>
        <% @genres.each do |genre| %>
          <%= link_to genre.name, public_items_search_path(genre_id: genre.id) %></br>
        <% end %>
      </div>
    </div>
    <div class = "col-lg-6">
      <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。
      </p>
    </div>
  </div>
  <div class = "row">
    <h2>新着商品</h2>
    <% @items.each do |item| %>
      <div class="col-8-flex flex-lg-wrap" >
        <%= link_to(public_item_path(item.id), class: 'list-content') do %>
        <p><%= attachment_image_tag item, :image, :fill, 100, 100 %> </p>
        <p><%= item.name %></p>
        <p>￥<%= item.price %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>