<h6>ショッピングカート</h6>
<span><%= button_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete %></span>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <table border="2" style="border-collapse: collapse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.image  %><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td>
                <%= form_with model: cart_item, url:public_orders_confirm_path, method: :confirm, local:true do |f| %>
                  <%= f.select :amount, *[1..10] %>
                  <%= f.submit '変更' %>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <% sum += cart_item.subtotal %>
              <td><%= link_to '削除する', public_cart_item_path(cart_item.id), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
      <div calss="col-lg-12">
        <span class="kaimono">
          <%= link_to '買い物を続ける', root_path %>
        </span>
        <div class="totel-money">
          <span>合計金額</span>
          <p><%= sum %></p>
        </div>
      </table>
      <span><%= link_to '情報入力に進む', new_public_order_path %></span>
    </div>
  </div>
</div>
