<h6>ログイン</62>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <thead></thead>
    <tbody>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<h6>会員登録がお済みでない方</h6>
<span><%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください</span>
